<div class="fast-food-list">
	<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="showSpinner"></span>
	<div class="navbar-form navbar search" role="search">
	    <div class="form-group">
	        <input ng-model="searchList" type="text" class="form-control" placeholder="Search">
	    </div>
	    <button type="submit" class="btn btn-primary">Search</button>
	</div>
	<ul class="list-group fast-food-menu">
	  <li class="list-group-item home-list-product" ng-repeat="product in products | filter: searchList" ng-click="goSingleFoodMenu(product.id)">
	    <span class="badge">{{product.price}} din</span>
	    {{product.name}}
	  </li>
	</ul>
</div>