<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="showSpinner"></span>
<div class="jumbotron" ng-show="!showSpinner">
	<h1 class="well product-name">{{product.name}}</h1>
	<p class="well">{{product.price}} din</p>
	<p class="well">{{product.weight}} gr</p>
	<p class="well">{{product.description}}</p>
</div>