<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="showSpinner"></span>
<div ng-show="!showSpinner">
	<div>
		<input type="text" class="form-control edit-input" placeholder="Name" ng-model="product.name" value="{{product.name}}">
		<input type="text" class="form-control edit-input" placeholder="Price" ng-model="product.price" value="{{product.price}}">
		<input type="text" class="form-control edit-input" placeholder="Weight" ng-model="product.weight" value="{{product.weight}}">
		<input type="text" class="form-control edit-input" placeholder="Description" ng-model="product.description" value="{{product.description}}">
	</div>
	<button ng-click="goAdminHome()" type="button" class="btn btn-danger">Close</button>
	<button ng-click="saveChanges()" type="button" class="btn btn-success">Save</button>
</div>