<form class="form login-form col-md-4 col-md-offset-4">
	<div class="login-text">
		<p>Login</p>
	</div>
	<div class="form-group">
		<label class="sr-only" for="exampleInputEmail3">Email address</label>
		<input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email" ng-model="user.email">
	</div>
	<div class="form-group">
		<label class="sr-only" for="exampleInputPassword3">Password</label>
		<input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password" ng-model="user.password">
	</div>
	<button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="signIn()">Sign in</button>
</form>