<div>
	<input ng-model="product.name" type="text" class="form-control edit-input" placeholder="Name">
	<input ng-model="product.price" type="text" class="form-control edit-input" placeholder="Price">
	<input ng-model="product.weight" type="text" class="form-control edit-input" placeholder="Weight">
	<input ng-model="product.description" type="text" class="form-control edit-input" placeholder="Description">
</div>
<button ng-click="goAdminHome()" type="button" class="btn btn-danger">Close</button>
<button ng-click="goAddNew()" type="button" class="btn btn-success">Save</button>