<div class="fast-food-list">
	<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="showSpinner"></span>
	<div class="navbar-form navbar search-admin-menu row" role="search">
	    <div class="form-group">
	        <input ng-model="searchList" type="text" class="form-control" placeholder="Search">
	    </div>
	    <button type="submit" class="btn btn-danger">Search</button>
	    <button ng-click="goAddNew()" type="button" class="btn btn-success add-new-btn">Add new</button>
	</div>
	<ul class="list-group fast-food-menu">
	  <li class="list-group-item row" ng-repeat="product in products | filter: searchList">
	    <p class="col-md-9">{{product.name}}</p>
	    <div class="col-md-3">
	    	<button ng-click="goChangePage(product.id)" type="button" class="btn btn-success change-btn col-md-5">Change</button>
	    	<button type="button" class="btn btn-danger col-md-5" ng-click="delete(product.id)">Delete</button>
	    </div>
	  </li>
	</ul>
</div>